@import '../../styles/breakpoints';
@import "../../styles/variaveis";
  
.cardapio {
  &__filtros {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 30px;
      width: 100%;
      font-family: sans-serif;
  }
}

